cloud_id                 = "dfdfhk845214gcfnhfg84"
folder_id                = "dfkghjdf845641fghffdf"
zone                     = "ru-central1-a"
image_id                 = "idiojfdjg8452df"
public_key_path          = "~/.ssh/public_key"
private_key_path         = "~/.ssh/private_key"
subnet_id                = "not_used"
service_account_key_file = "svc_acct_example.json"
app_disk_image           = "reddit-app-base_image-id"
db_disk_image            = "reddit-db-base_image-id"
