version: "3.5"

services:
  dind:
    image: docker:20-dind
    restart: always
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    command:
      - --storage-driver=overlay2

  runner:
    image: gitlab/gitlab-runner:latest
    depends_on:
      - dind
    environment:
      - DOCKER_HOST=tcp://dind:2375
    volumes:
      - /srv/gitlab-runner/config:/etc/gitlab-runner:z
    restart: always

  register-runner:
    image: gitlab/gitlab-runner:latest
    depends_on:
      - dind
    environment:
      - CI_SERVER_URL={{ ansible_host }}
      - REGISTRATION_TOKEN=GR1348941a2UKcvdkmgaeTs69CWW-
    command:
      - register
      - --non-interactive
      - --locked=false
      - --name=DockerinDockerRunner
      - --executor=docker
      - --docker-image=docker:20-dind
      - --docker-volumes=/var/run/docker.sock:/var/run/docker.sock
    volumes:
      - /srv/gitlab-runner/config:/etc/gitlab-runner:z
    restart: 'no'
